/* Add and delete card form */
.card-form, .delete-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: auto;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.delete-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.checkbox-container {
  display: flex;
  align-items: center; 
  gap: 5px; 
}


.actions-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.actions-container label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.actions-container input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; 
  max-width: 300px; 
  box-sizing: border-box;
}

.actions-container select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; 
  max-width: 300px;
  box-sizing: border-box;
}

.actions-container button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions-container button:hover {
  background-color: #0056b3;
}
