/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  /* Navbar Styling */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
  
li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

/* Styling for text in navbar placeholder */
a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
}
  
a:hover {
    background-color: #0056b3;
}

body {
    padding-top: 60px; 
}
  
h1 {
    margin-top: 80px; 
}
/* Styling for add a card */
.addButton {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 10px;
  background-color: #28a745; 
}
.addButton:hover{
  background-color: #218838; 
}


/* Styling for removing a card */
.removeButton {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
    background-color: #dc3545; 

}
.removeButton:hover {
  background-color: #c82333;
}

/* Styling for the table of all cards */
.table-container {
    margin-top: 30px;
    padding: 20px;
    max-width: 1000px;
    margin-left: 20px;
    margin-right: 0; 
    text-align: left;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
  }
  
  /* Table Styling */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
  }
  
  td {
    background-color: #f9f9f9;
  }
  
  tr:nth-child(even) td {
    background-color: #f1f1f1;
  }
